ul {
    padding-inline-start: 0px;
    margin-top: 36px;
    margin-bottom: 41px;
    background-color: #fff;
    box-shadow: 6px 7px 4px #888888;
    border-color: #141415;
    box-sizing: border-box;
    padding: 16px;
    width: 400px;
    border: 1px solid;
    border-width: thin;
}

li {

    list-style: none;
    background-color: #fff;
    display: block;
    padding: 10px;
    width: 300px;
}


button {
    background-color: #fff;
    box-shadow: 3px 4px 4px #888888;
    border-color: rgb(16 16 16 / 8%);
    padding: 10px;
    margin: 10px;

}

.newtodocss {
    background-color: #fff;
    box-shadow: 6px 7px 4px #888888;
    border-color: rgb(74 73 73 / 8%);
    padding: 10px;
    margin: 10px;

}

